body {

  background: #fcfcfa;
  color: #333;

  font-family: "PT Serif", serif;
  margin: 1em 10% 4em 10%;

  position: relative;
}

a:not(:hover) {
  text-decoration: none;
}

header {
  margin-bottom: 2em;
}

/** Inline header elements and delimit w/ slashes. */
header a, header p {
  display: inline;
  font-size: 0.8em;
}
header *::after{
  content: "/";
  margin-left: 0.6em;
  margin-right: 0.4em;
}
header :last-child::after{
  content: "";
}

/* SVG styles */
svg .yaxis path,
svg .yaxis line,
svg .xaxis path,
svg .xaxis line {
    fill: none;
    stroke: black;
    shape-rendering: optimizeSpeed;
}
