body {

  background: #fcfcfa;
  color: #333;

  font-family: "PT Serif", serif;
  margin: 1em 10% 4em 10%;

  position: relative;
}

a:not(:hover) {
  text-decoration: none;
}

header {
  margin-bottom: 2em;
}

/** Inline header elements and delimit w/ slashes. */
header a, header p {
  display: inline;
  font-size: 0.8em;
}
header *::after{
  content: "/";
  margin-left: 0.6em;
  margin-right: 0.4em;
}
header :last-child::after{
  content: "";
}

/* Main visualisation SVG */
svg#vis {
  margin: 1em 0 2em ;
}

/* SVG styles */
svg .yaxis path,
svg .yaxis line,
svg .xaxis path,
svg .xaxis line {
    fill: none;
    stroke: black;
    shape-rendering: optimizeSpeed;
}


svg .countryBars {
  /* shape-rendering: optimizeSpeed; */
}

svg .recvBars {
  /* shape-rendering: optimizeSpeed; */
}


.node rect {
  fill-opacity: .9;
}

.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}

.link {
  fill: none;
  /*stroke: #000;*/
  stroke-opacity: .5;
}

.link:hover {
  stroke-opacity: .8;
}
